/* Dark mode styles */
.dark-mode {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.dark-mode .navbar,
.dark-mode footer {
  background-color: #1f1f1f !important;
}

.dark-mode .card {
  background-color: #2c2c2c !important;
  color: #e0e0e0 !important;
}

.dark-mode .btn-primary {
  background-color: #3a3a3a !important;
  border-color: #555 !important;
}

.dark-mode .btn-success {
  background-color: #2a7a2a !important;
  border-color: #2a7a2a !important;
}

.dark-mode .btn-info {
  background-color: #31708f !important;
  border-color: #31708f !important;
}

.dark-mode a.nav-link,
.dark-mode a.nav-link:hover,
.dark-mode a.nav-link:focus {
  color: #ddd !important;
}

.dark-mode .carousel-item.bg-success {
  background-color: #2a7a2a !important;
}

.dark-mode .carousel-item.bg-primary {
  background-color: #004085 !important;
}

.dark-mode .carousel-item.bg-info {
  background-color: #31708f !important
}